html {
	height: 100%;
}

body {
	background-color: black;
    margin: 0px;
    padding: 0px;
	width: 100%;
	height: 100%;
}

main {
	display: block;		/* IE対処 */
	margin: 0px;
    padding: 0px;
	width: 100%;
	height: 100%;
}

#currentTime {
    font-family: monospace;
    text-align: center;
    font-size: 12vw;
    color: gainsboro;
}

#countUp {
    font-family: monospace;
    text-align: center;
    font-size: 18vw;
    color: springgreen;
}

#buttonBox {
    text-align: center;
}

.easybtn {
	vertical-align: baseline;
	line-height: 1;
	white-space: nowrap;
	background-color: darkgreen;
}

#startButton {
    background-color:royalblue;
}
